html, body {
  height: 100%;
  margin: 0;
  margin-left: 5px;
  min-height: 200px;
  width: calc(100% - 5px);
}

#sameover {
  font-size: 200%;
  font-family: Impact;
  position: relative;
  bottom: 5px;
  visibility: hidden;
}

#samescreenshot {
  position: absolute;
  left: -1000px;
  top: 200px;
}

#sametitleblock {
  padding-bottom: 5px;
  position: relative;
  top: 5px;
}

.headerSize {
  height: 40px;
  font-size: 40px;
}

.mobileHeaderSize {
  height: 70px;
  font-size: 70px;
}

#samelogo {
}

#startbutton {
  cursor: pointer;
}

#restartbutton {
  cursor: pointer;
}

.headerSize#samepoints {
  bottom: 15px;
  font-family: 'Cantora One';
  position: absolute;
  left: 420px;
}

.mobileHeaderSize#samepoints {
  bottom: 30px;
  font-family: 'Cantora One';
  position: absolute;
  left: 620px;
}

.headerSize#samescore {
  bottom: 10px;
  font-family: 'Cantora One';
  position: absolute;
  right: 0px;
}

.mobileHeaderSize#samescore {
  bottom: 30px;
  font-family: 'Cantora One';
  position: absolute;
  right: 0px;
}

#sameboard {
  background-color: #00bf00;
  border: black solid 1px;
  position: relative;
  display: table;
}

#sameattributionblock {
  display: none;
  position: relative;
  top: 5px;
}

#samesrcbundle {
  display: none;
  float: right;
}

.block {
  display: table-cell;
  font-weight: bold;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.desktopBlockSizes {
  font-size: 30px;
  height: 38px;
  width: 38px;
}

.mobileBlockSizes {
  font-size: 70px;
  height: 78px;
  width: 78px;
}

.red {
  background-color: red; 
}

.yellow {
  background-color: yellow;
}

.cyan {
  background-color: #00f0ed;
}

.blue {
  background-color: blue;
}

.magenta {
  background-color: #ff00ff;
}
